In [4]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
from sympy import *

In [20]:
#df = pd.read_csv('real_quad_fields_1_2.csv')
df = pd.read_csv('C:/Users/esultano/Downloads/numberfield/real_quad_fields_1_2.csv')

In [3]:
print(df.class_number.value_counts())

2    183432
1    177159
Name: class_number, dtype: int64

In [21]:
df.head()

,defining_polynomial,class_number,discriminant,res_s=0,number_roots_unity,regulator,a_1,a_2,a_3,a_4,...,a_991,a_992,a_993,a_994,a_995,a_996,a_997,a_998,a_999,a_1000
0,x^2 - x - 1,1,5.0,-0.240606,2,0.481212,1,0,0,1,...,2,0,0,0,2,0,0,0,0,0
1,x^2 - 2,1,8.0,-0.440687,2,0.881374,1,1,0,1,...,2,2,0,4,0,0,0,0,0,0
2,x^2 - 3,1,12.0,-0.658479,2,1.316958,1,1,1,1,...,0,0,0,0,0,2,2,0,2,0
3,x^2 - x - 3,1,13.0,-0.597382,2,1.194763,1,0,2,1,...,2,0,0,0,0,0,2,0,0,0
4,x^2 - x - 4,1,17.0,-1.047356,2,2.094713,1,2,0,3,...,0,0,0,0,0,0,0,0,0,0

In [24]:
#cols = ["a_" + str(i) for i in primerange(1, 1000+1)]

cols = ["a_" + str(i) for i in range(1, 1000+1)]
for col in cols:
    df[col] = df[col].apply(lambda x: random.choice(range(3, 20)) if x == 1 else x)

#This is more efficient but yields "ValueError: other must be the same shape as self when an ndarray"
#cols = df.filter(like='a_').columns
#df[cols] = df.mask(df[cols].eq(1), np.random.randint(3,1000,(df.shape[0], len(cols))))


df.head()

ValueError: other must be the same shape as self when an ndarray

In [41]:
#count ones in class_number_2 items
df_class_number_2 = df[df.class_number.eq(2)]
print(df_class_number_2.shape[0])

column_names = []
for i in range(2,1000):
    if isprime(i):
        column_names.append('a_'+str(i))

df_class_number_2_prime = df_class_number_2[column_names]

series_cnt_1=(df_class_number_2_prime.eq(1)).T.sum()

df_class_number_2_prime = df_class_number_2_prime.assign(cnt_1 = series_cnt_1)
df_class_number_2_prime['cnt_1'].value_counts()

#df_class_number_2_prime.head(100)

183432

2    101974
1     49595
3     31057
0       806
Name: cnt_1, dtype: int64

In [43]:
#count ones in class_number_1 items
df_class_number_1 = df[df.class_number.eq(1)]
print(df_class_number_1.shape[0])

column_names = []
for i in range(2,1000):
    if isprime(i):
        column_names.append('a_'+str(i))

df_class_number_1_prime = df_class_number_1[column_names]

series_cnt_1=(df_class_number_1_prime.eq(1)).T.sum()
df_class_number_1_prime = df_class_number_1_prime.assign(cnt_1 = series_cnt_1)

df_class_number_1_prime['cnt_1'].value_counts()

#df_class_number_2_prime.head()

177159

1    108527
0     65468
2      3164
Name: cnt_1, dtype: int64

In [2]:
import pandas as pd
import numpy as np

num_coeffs = 16
num_rows = 3
rand_coeffs = np.empty(shape=(1000, num_coeffs))
rand_coeffs.fill(0)

num_ones = 3
rand_coeffs[:,0:num_ones]=1
for row in rand_coeffs:
    np.random.shuffle(row.T)

df = pd.DataFrame(data=rand_coeffs, dtype=int)
df.head()

   0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15
0   0   0   0   0   1   0   0   0   1   0   1   0   0   0   0   0
1   0   1   0   0   0   0   0   0   0   0   0   0   1   1   0   0
2   0   0   0   0   1   0   0   0   0   1   0   0   1   0   0   0
3   1   0   1   0   0   0   0   0   0   0   0   0   0   1   0   0
4   0   1   0   0   1   0   0   0   0   1   0   0   0   0   0   0