In [22]:
import sympy
import pandas as pd

df_fields = pd.read_csv("fields.csv", header=None)
df_fields = df_fields.iloc[0:5, 0:5]

# replace ^ by ** and e.g. 3x by 3*x
df_fields = df_fields.replace('\^', '**', regex=True)
df_fields = df_fields.replace('(\d)(x)', '\g<1>*\g<2>', regex=True)

# Extract coeff and append to df_fields
df_fields = pd.concat([df_fields, pd.DataFrame(data=[sympy.polys.polytools.poly_from_expr(exp)[0].coeffs() for exp in df_fields[1]], columns=['coeff1','coeff2','coeff3'])], axis=1)

print(df_fields)

         0             1  2  3   4 coeff1 coeff2 coeff3
0  2.0.3.1  x**2 - x + 1 -3  1  []      1     -1      1
1  2.0.4.1      x**2 + 1 -4  1  []      1      1   None
2  2.2.5.1  x**2 - x - 1  5  1  []      1     -1     -1
3  2.0.7.1  x**2 - x + 2 -7  1  []      1     -1      2
4  2.0.8.1      x**2 + 2 -8  1  []      1      2   None

In [23]:
df_fields.head()

         0             1  2  3   4 coeff1 coeff2 coeff3
0  2.0.3.1  x**2 - x + 1 -3  1  []      1     -1      1
1  2.0.4.1      x**2 + 1 -4  1  []      1      1   None
2  2.2.5.1  x**2 - x - 1  5  1  []      1     -1     -1
3  2.0.7.1  x**2 - x + 2 -7  1  []      1     -1      2
4  2.0.8.1      x**2 + 2 -8  1  []      1      2   None