In [1]:
import h2o
from h2o.automl import H2OAutoML

In [2]:
h2o.init()
df = h2o.import_file("C:/Temp/all_real_quad_fields.csv")

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  ---------------------------------------------------------
H2O_cluster_uptime:         2 days 22 hours 0 mins
H2O_cluster_timezone:       Europe/Berlin
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.32.1.5
H2O_cluster_version_age:    13 days
H2O_cluster_name:           H2O_from_python_esultano_8b8jz1
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    4.598 Gb
H2O_cluster_total_cores:    12
H2O_cluster_allowed_cores:  12
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.8.11 final
--------------------------  ---------------------------------------------------------

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [49]:
print(df['class_number'].table())
#df = df.split_frame([0.25])[0]
#print(df['class_number'].table())

class_number,Count
1,177159
2,183432

## Read data

In [4]:
train, test = df.split_frame([0.3], seed=42)

Columns are:
*  'defining_polynomial'
*  'class_number'
*  'discriminant'
*  'res_s=0'
*  'number_roots_unity'
*  'regulator'
*  'a_1', 'a_2', 'a_3', ..., 'a_1000'

In [5]:
primes_up_to_1000 = [1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]
x = [i + 6 for i in primes_up_to_1000]
y = "class_number"

# for binary classification, response should be a factor
train[y] = train[y].asfactor()
test[y] = test[y].asfactor()

In [7]:
from h2o.estimators import H2ORandomForestEstimator
rf = H2ORandomForestEstimator(ntrees=10)
rf.train(x=x,
         y=y,
         training_frame=train,
         validation_frame=test)
print(rf)

drf Model Build progress: |███████████████████████████████████████████████| 100%
Model Details
=============
H2ORandomForestEstimator :  Distributed Random Forest
Model Key:  DRF_model_python_1629023006308_5


Model Summary:

,,number_of_trees,number_of_internal_trees,model_size_in_bytes,min_depth,max_depth,mean_depth,min_leaves,max_leaves,mean_leaves
0,,10.0,1960.0,23353401.0,1.0,20.0,13.560204,1.0,35293.0,944.3689

ModelMetricsMultinomial: drf
** Reported on train data. **

MSE: 0.6365455004747451
RMSE: 0.7978380164386409
LogLoss: 10.548728125305997
Mean Per-Class Error: 0.9868425622476341
AUC: NaN
AUCPR: NaN
Multinomial auc values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).
Multinomial auc_pr values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

,1,2,3,4,5,6,7,8,9,10,...,512,576,640,768,1088,1280,1792,2048,Error,Rate
0,33974.0,11105.0,1654.0,3102.0,407.0,400.0,156.0,325.0,123.0,102.0,...,0.0,0.0,1.0,0.0,2.0,9.0,2.0,1.0,0.354229,18.636 / 52.610
1,18342.0,19513.0,999.0,10678.0,225.0,745.0,112.0,1490.0,58.0,178.0,...,0.0,0.0,0.0,0.0,5.0,9.0,4.0,4.0,0.642416,35.056 / 54.569
2,4874.0,1550.0,220.0,425.0,66.0,60.0,28.0,52.0,14.0,17.0,...,0.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.970529,7.245 / 7.465
3,7445.0,12108.0,362.0,10563.0,92.0,492.0,37.0,2407.0,17.0,114.0,...,0.0,0.0,0.0,0.0,9.0,13.0,7.0,7.0,0.703794,25.098 / 35.661
4,1651.0,535.0,83.0,142.0,25.0,16.0,5.0,19.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.990242,2.537 / 2.562
5,2631.0,2681.0,146.0,1499.0,25.0,98.0,10.0,228.0,10.0,25.0,...,0.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.987159,7.534 / 7.632
6,803.0,270.0,45.0,62.0,9.0,13.0,2.0,6.0,2.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.998399,1.247 / 1.249
7,2222.0,4077.0,109.0,4376.0,25.0,147.0,14.0,1550.0,3.0,40.0,...,0.0,1.0,2.0,0.0,6.0,14.0,6.0,7.0,0.886155,12.065 / 13.615
8,605.0,195.0,28.0,58.0,8.0,5.0,1.0,4.0,1.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.998920,925 / 926
9,870.0,903.0,51.0,494.0,14.0,23.0,5.0,63.0,3.0,12.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.995289,2.535 / 2.547
10,313.0,87.0,18.0,32.0,7.0,3.0,4.0,5.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,476 / 476
11,999.0,1708.0,52.0,1454.0,13.0,58.0,6.0,331.0,7.0,21.0,...,0.0,0.0,0.0,0.0,2.0,4.0,0.0,1.0,0.985363,4.847 / 4.919
12,216.0,64.0,14.0,13.0,1.0,2.0,1.0,2.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,324 / 324
13,413.0,470.0,17.0,240.0,5.0,22.0,1.0,34.0,0.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.998414,1.259 / 1.261
14,259.0,67.0,13.0,19.0,3.0,3.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,378 / 378
15,628.0,1146.0,31.0,1286.0,11.0,45.0,2.0,523.0,1.0,21.0,...,0.0,0.0,0.0,1.0,3.0,3.0,0.0,4.0,0.969352,3.922 / 4.046
16,145.0,43.0,6.0,10.0,2.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,215 / 215
17,288.0,311.0,11.0,175.0,5.0,7.0,1.0,20.0,1.0,7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.997666,855 / 857
18,106.0,36.0,7.0,5.0,1.0,0.0,2.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,164 / 164
19,379.0,569.0,16.0,514.0,4.0,27.0,2.0,121.0,1.0,2.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.995447,1.749 / 1.757

See the whole table with table.as_data_frame()

Top-10 Hit Ratios:

    k  hit_ratio
0   1   0.324732
1   2   0.489242
2   3   0.563051
3   4   0.597205
4   5   0.614290
5   6   0.624083
6   7   0.630437
7   8   0.634519
8   9   0.637527
9  10   0.639813

ModelMetricsMultinomial: drf
** Reported on validation data. **

MSE: 0.6158679526275451
RMSE: 0.7847725483396735
LogLoss: 5.726129636204512
Mean Per-Class Error: 0.9169830549901904
AUC: NaN
AUCPR: NaN
Multinomial auc values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).
Multinomial auc_pr values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

,1,2,3,4,5,6,7,8,9,10,...,335,344,357,416,672,1408,1536,3840,Error,Rate
0,96800.0,22674.0,1392.0,2388.0,188.0,120.0,54.0,159.0,33.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.219569,27.234 / 124.034
1,46806.0,54771.0,799.0,22707.0,147.0,345.0,30.0,1951.0,17.0,43.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.573288,73.585 / 128.356
2,13792.0,3248.0,188.0,342.0,27.0,15.0,5.0,11.0,7.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.989354,17.472 / 17.660
3,15786.0,32985.0,267.0,28123.0,47.0,226.0,15.0,5663.0,6.0,42.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.666809,56.282 / 84.405
4,4607.0,1011.0,66.0,118.0,11.0,8.0,0.0,10.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.998116,5.829 / 5.840
5,6542.0,7478.0,100.0,3143.0,21.0,42.0,4.0,261.0,2.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.997628,17.665 / 17.707
6,2261.0,563.0,36.0,54.0,3.0,2.0,2.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.999317,2.926 / 2.928
7,4635.0,9788.0,103.0,11731.0,10.0,67.0,1.0,4662.0,0.0,13.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.854344,27.345 / 32.007
8,1582.0,385.0,23.0,33.0,2.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,2.030 / 2.030
9,2205.0,2616.0,29.0,1076.0,5.0,24.0,0.0,94.0,1.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.999343,6.087 / 6.091
10,814.0,234.0,4.0,21.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,1.075 / 1.075
11,2115.0,4505.0,35.0,3870.0,4.0,35.0,1.0,797.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.994878,11.459 / 11.518
12,676.0,143.0,11.0,13.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,845 / 845
13,1094.0,1278.0,23.0,546.0,5.0,7.0,0.0,43.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,3.012 / 3.012
14,674.0,155.0,7.0,11.0,2.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,853 / 853
15,1281.0,2790.0,22.0,3297.0,7.0,28.0,1.0,1605.0,1.0,8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.966842,9.185 / 9.500
16,341.0,89.0,6.0,8.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,445 / 445
17,799.0,821.0,14.0,342.0,3.0,5.0,0.0,28.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,2.030 / 2.030
18,292.0,60.0,4.0,8.0,2.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,368 / 368
19,764.0,1554.0,12.0,1349.0,2.0,11.0,0.0,262.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.999502,4.014 / 4.016

See the whole table with table.as_data_frame()

Top-10 Hit Ratios:

    k  hit_ratio
0   1   0.385963
1   2   0.594208
2   3   0.678520
3   4   0.712116
4   5   0.731200
5   6   0.744506
6   7   0.753762
7   8   0.760444
8   9   0.765365
9  10   0.769268

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_logloss,training_classification_error,training_auc,training_pr_auc,validation_rmse,validation_logloss,validation_classification_error,validation_auc,validation_pr_auc
0,,2021-08-18 11:36:49,0.028 sec,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,,2021-08-18 11:37:10,20.899 sec,1.0,0.842275,19.680800,0.752547,NaN,NaN,0.840898,19.591872,0.751567,NaN,NaN
2,,2021-08-18 11:37:55,1 min 5.317 sec,3.0,0.829521,17.356164,0.735832,NaN,NaN,0.796516,10.965241,0.687726,NaN,NaN
3,,2021-08-18 11:39:22,2 min 33.132 sec,7.0,0.807152,12.719429,0.698286,NaN,NaN,0.786436,6.668596,0.629068,NaN,NaN
4,,2021-08-18 11:40:39,3 min 50.166 sec,10.0,0.797838,10.548728,0.675268,NaN,NaN,0.784773,5.726130,0.614037,NaN,NaN

Variable Importances:

   variable  relative_importance  scaled_importance  percentage
0     a_524         15760.781250           1.000000    0.019545
1     a_788         15612.508789           0.990592    0.019361
2     a_692         15539.417969           0.985955    0.019270
3     a_908         15407.301758           0.977572    0.019106
4     a_548         15263.535156           0.968450    0.018928
5     a_284         15257.633789           0.968076    0.018921
6     a_332         15245.879883           0.967330    0.018906
7     a_212         14745.208008           0.935563    0.018285
8     a_752         13552.206055           0.859869    0.016806
9     a_164         13316.830078           0.844935    0.016514
10    a_464         11544.798828           0.732502    0.014316
11    a_468         11057.507812           0.701584    0.013712
12    a_272         10639.736328           0.675077    0.013194
13     a_68         10392.915039           0.659416    0.012888
14    a_828          9781.397461           0.620616    0.012130
15    a_368          9721.931641           0.616843    0.012056
16    a_884          9336.159180           0.592367    0.011578
17    a_948          8920.943359           0.566022    0.011063
18    a_860          8830.008789           0.560252    0.010950
19    a_194          8574.419922           0.544035    0.010633

See the whole table with table.as_data_frame()